.profile-card {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 600px;
  min-height: 100vh;
  padding: 2% 4%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  background: rgba(33, 33, 33, 0.55);
}

.profile-data {
  position: relative;
  z-index: 3;
}

.profile-text {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.legend-img {
  width: 100%;
}
